#app {
  background-color: #fff;
  margin: auto;
  width: 380px;
  padding: 20px;
  border-radius: 20px;
}
#title {
  font-size: 30px;
  font-weight: 550;
}
#text {
  font-weight: 530;
  font-size: 17px;
}

#short_textbox {
  width: 100%;
  height: 30px;
}
#long_textbox {
  width: 100%;
  height: 30px;
}
#space {
  padding-bottom: 5px;
}
#select {
  width: 100%;
  height: 35px;
}
#listform {
  margin-top: 2%;
  width: 95%;
  padding: 2%;
  background-color: #fff;
  border-radius: 20px;
}
body {
  background-color: rgb(237, 233, 233);
}
